
.main {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.player-selector {

}

.game-start {
    margin-right: 20px;
}

.game-board {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

.gameGrid{
    display: flex;
    border-radius: 10px;
    margin: 7px;
    background-color: darkolivegreen;
    height: 30%;
    width: 30%;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    font-size: 50px;
}